<div class="form">
  <!-- USER -->
  <mat-tab-group
    class="carousel-selector carousel-selector-user"
    [(selectedIndex)]="currentSheetIndex"
    (selectedIndexChange)="formChanged($event, currentYearIndex, currentMonthIndex, sheets)"
  >
    @for (sheet of sheets; track sheet.id) {
    <mat-tab [label]="sheet.title.split('_')[1]"></mat-tab>
    }
  </mat-tab-group>

  <!-- YEAR -->
  <mat-tab-group
    class="carousel-selector"
    [(selectedIndex)]="currentYearIndex"
    (selectedIndexChange)="formChanged(currentSheetIndex, $event, currentMonthIndex, sheets)"
  >
    @for (tab of yearsTabs; track tab) { <mat-tab [label]="tab.toString()"></mat-tab> }
  </mat-tab-group>

  <!-- MONTH -->
  <mat-tab-group
    #monthSelector
    class="carousel-selector carousel-selector-month"
    [(selectedIndex)]="currentMonthIndex"
    (selectedIndexChange)="formChanged(currentSheetIndex, currentYearIndex, $event, sheets)"
  >
    @for (tab of monthTabs; track tab; let i = $index) { <mat-tab [label]="tab"></mat-tab> }
  </mat-tab-group>
</div>

@if ((expenses$ | async) || []; as expenses) {
<expenses-table
  #summaryTable
  [selected]="expenses"
  [selectable]="selectable"
  [dataSource]="expenses"
  (onCellClick)="expensesTableCellClickHandler($event)"
  (onSelection)="onSelection($event)"
></expenses-table>
}

<div class="statistics-summary">
  <div class="button-container">
    @if (selectedCategory) {
    <button mat-icon-button (click)="unCategory()"><mat-icon>undo</mat-icon></button>
    }
  </div>
  <div style="font-weight: 500">{{ selectedCategory ?? 'Total' }}</div>
  <div style="font-weight: 500">{{ total }}</div>
</div>
