.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  padding: 0 16px;
}

.loading-container {
  width: 100px;
  height: 100px;
  position: relative;

  .doc-icon {
    position: absolute;
    top: 26px;
    left: 26px;
    width: 48px;
    height: 48px;
    font-size: 48px;
  }
}

.icon-gray {
  color: rgba(0, 0, 0, 0.4);
}

.icon-green {
  color: rgb(67 205 52);
}

.readonly ::ng-deep .mat-mdc-text-field-wrapper {
  background: rgb(0 0 0 / 8%);
}
