.progress-container {
  height: 4px;
}

.header-title {
  flex-grow: 1;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid white;
}

:host ::ng-deep .mat-mdc-icon-button {
  padding: 3px;
}
