:host {
  display: flex;
  flex-direction: column;
}

.header-menu {
  padding: 2px;

  ::ng-deep .mat-badge-content.mat-badge-active {
    right: 0px;
    bottom: 0px;
  }
}

.progress-container {
  height: 4px;
}

.header-title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #ff0000;
  &.online {
    border-color: #00ff00;
  }
}

.main-menu-icon {
  color: #636363 !important;
}
