<mat-toolbar color="primary">
  <mat-toolbar-row *ngIf="user$ | async as user">
    <span class="header-title">Custom Toolbar</span>

    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
      <img class="avatar" width="38" height="38" [src]="user.picture" />
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="progress-container">
  <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="[]" [queryParams]="{ logger: 'window' }" [replaceUrl]="true">
    <mat-icon>memory</mat-icon>
    <span>Debug console</span>
  </button>
</mat-menu>

<button (click)="test()">test</button>

<pre>
    {{ version$ | async | json }}
</pre>
