<mat-toolbar color="primary">
  <mat-toolbar-row *ngIf="user$ | async as user">
    <span class="header-title non-selectable">{{ title$ | async }}</span>

    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
      <img [ngClass]="{ online: isOnline$ | async }" class="avatar" width="38" height="38" [src]="user.picture" />
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="progress-container">
  <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon class="main-menu-icon">open_in_new</mat-icon>
    <a
      [href]="'https://docs.google.com/spreadsheets/d/' + (spreadsheetId$ | async) + '/edit'"
      target="_blank"
      rel="noopener noreferrer"
    >
      Open Spreadsheet
    </a>
  </button>
  <button mat-menu-item [routerLink]="[route.dashboard]" queryParamsHandling="preserve" [replaceUrl]="true">
    <mat-icon class="main-menu-icon">dashboard</mat-icon> <span>Dashboard</span>
  </button>
  <button
    mat-menu-item
    [routerLink]="[route.dashboard, route.categories]"
    queryParamsHandling="preserve"
    [disabled]="(isOnline$ | async) === false"
  >
    <mat-icon class="main-menu-icon">category</mat-icon> <span>Categories</span>
  </button>
  <button mat-menu-item [routerLink]="[route.setup, route.settings]" queryParamsHandling="preserve" [replaceUrl]="true">
    <mat-icon class="main-menu-icon">settings</mat-icon> <span>Setup</span>
  </button>
  <button mat-menu-item [routerLink]="[]" [queryParams]="{ logger: 'window' }" [replaceUrl]="true">
    <mat-icon class="main-menu-icon">memory</mat-icon> <span>Debug</span>
  </button>
  <button mat-menu-item (click)="logout()" [disabled]="(isOnline$ | async) === false">
    <mat-icon class="main-menu-icon">logout</mat-icon> <span>Logout</span>
  </button>
</mat-menu>

<div class="content">
  <router-outlet></router-outlet>
</div>
