:host {
  display: flex;
  flex-direction: column;
}

.progress-container {
  height: 4px;
}

.header-title {
  flex-grow: 1;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #ff0000;
  &.online {
    border-color: #00ff00;
  }
}

:host ::ng-deep .mat-mdc-icon-button {
  padding: 3px;
}
