@import 'src/css/fonts.scss';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.logger-wrapper {
  &.hidden {
    bottom: -55%;
  }

  width: 100%;
  height: 55%;
  background: #b5b4b4f2;
  border: 1px solid #000000;
  position: fixed;
  bottom: 0;
  transition: bottom cubic-bezier(0.21, -0.02, 0.8, 0) 0.3s;

  .logger-toggle,
  .logger-copy,
  .logger-clear {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 2px;
    background: #ededed;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    user-select: none;
  }

  .logger-copy {
    right: 43px;
  }

  .logger-toggle {
    top: -33px;
  }

  .logger-output {
    height: 100%;
    overflow-y: auto;
    pre {
      border-bottom: 1px solid #000000;
      margin: 0;
      overflow-x: auto;
    }
  }
}

.full-width {
  width: 100%;
}

.non-selectable {
  user-select: none;
}

/* MATERIAL */

html {
  --mat-table-row-item-container-height: 40px !important;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 8px !important;

  &:first-child {
    padding-left: 16px !important;
  }

  &:last-child {
    padding-right: 16px !important;
  }
}
/* MATERIAL */

/* Custom transition */
@keyframes slide-out {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
}

@keyframes slide-out-reverse {
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-reverse {
  from {
    transform: translateX(-100%);
  }
}

html::view-transition-new(summary-table) {
  animation-name: slide-in;
}
html::view-transition-old(summary-table) {
  animation-name: slide-out;
}

html::view-transition-new(summary-table-reverse) {
  animation-name: slide-in-reverse;
}
html::view-transition-old(summary-table-reverse) {
  animation-name: slide-out-reverse;
}
